includes:
  - phar://phpstan.phar/conf/bleedingEdge.neon

parameters:
  level: 1

  paths:
    - .

  fileExtensions:
    - php
    - module
    - inc
    - install

  ignoreErrors:
    - '#Unsafe usage of new static\(\)#'
    - '#Call to an undefined method Drupal\\ai\\Plugin\\ProviderProxy::getConfiguredModels\(\)#'
    - '#Parameter \$input of method Drupal\\ai_provider_llama_cpp\\Plugin\\AiProvider\\LlamaCppProvider::(chat|speechToText|textToImage)\(\) has invalid type Drupal\\ai\\Operation\\.*#'
